$black: #000;
$white: #fff;
$green: #1aa748;
$orange: #F14E32;
$blue: #36b6be;
$line-height: 1.4;  // 1.4 for true normalization
$font-color: #444;
$font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-size: 1em;
$link-color: $font-color;
$link-hover-color: $green;
$link-visited-color: $font-color;
$selected-font-color: #fff;
$selected-background-color: $green;
$invalid-background-color: #f0dddd;
