%header.main.clearfix
  = link_to image_tag('logo.png'), '/', :class => 'logo'

  .callout
    %h1
      = callout_title || "User-friendly Websites and Apps"
    %p
      = page_description || "Rockhopper Digital creates user-friendly websites and applications that work cross-browser and cross-device."  