---
title: Scalable Applications
description: Got data? We'll develop a robust and scalable solution that solves your problem.
---

%h2
  What's Your Market? What's Your Problem? 

%p
  These two questions help us identify solutions that will save your business time and money, and given the right market opportunity, generate more revenue. Software doesn't help your business perform better on its own. Bad applications can do the exact oppposite. There are two areas in particular that Rockhopper Digital focuses on when helping our clients manage and grow their business. 

%p
  First, the application must address a specific business need that is tied to the bottom line. Second, the application must be maintainble and scalable. 

%p
  What's your market? To understand what kinds of problems we can help you solve with software, we need to understand your market. A corollary to this point, is that we can also help you gain a better understanding of your market with business intelligence software, machine learning and statistical analysis to help you make stronger predictions. 

%p
  What's your problem? With solid understanding of your market, one or more problems will be apparent. We'll work with you based on your budget, timeline and priorities to develop agile solutions that scale on demand to meet your needs.

%h2
  Our Technical Expertise

%p
  There are a lot of different types of applications out there solving a lot of different types of problems. Here's a brief overview of the types of problems Rockhopper Digital can help your business or brand tackle, and the technologies that we'll use to get the job done.

%ul
  %li
    Front-End Development (HTML5, CSS3, JavaScript, jQuery and Mobile Web)
  %li
    Single-Page Applications (Backbone.js on Rails and PostgreSQL)
  %li
    Back-End Development (Ruby and Rails based solutions on PostgreSQL)
  %li
    Test-Driven Approach (ensures long-term maintainability of applications)
  %li
    Mobile Optmization (your data is accessible whenever and wherever you need it)