---
title: User-friendly Websites and Apps
---

.home
  %ul#iconNav.clearfix
    :plain
      <li>
        <a class="clearfix" href="meet-rockhopper" title="Meet Rockhopper">
          <div class="icon">
            f
          </div>
          <div class="descrip">
            <h2>Meet Rockhopper</h2>
            <p>
            We design and code beautiful websites and applications for agile businesses and brands. 
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="hire-us" title="Work">
          <div class="icon">
            (
          </div>
          <div class="descrip">
            <h2>Hire Us</h2>
            <p>
            Are you interested in working with us? Tell us about your project, timeline and budget.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="websites" title="Websites">
          <div class="icon">
            w
          </div>
          <div class="descrip">
            <h2>Websites</h2>
            <p>
            Built with uncompromising craftsmanship. Engineered for performance and usability.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="applications" title="Apps">
          <div class="icon">
            O
          </div>
          <div class="descrip">
            <h2>Applications</h2>
            <p>
            Rapid web app and native iOS prototypes. Robust and scalable production solutions.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="tutorials" title="Tutorials">
          <div class="icon">
            4
          </div>
          <div class="descrip">
            <h2>Tutorials</h2>
            <p>
            Learn how to build (better) websites and applications. 10,000 hours is a long path. 
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="articles" title="Articles">
          <div class="icon">
            V
          </div>
          <div class="descrip">
            <h2>Articles</h2>
            <p>
            Tap into a chronological feed of code, design, culture, experience and miscellany.
            </p>
          </div>
        </a>
      </li>
  %aside
    %ul.clearfix
      :plain
        <li>
          <a class="clearfix" href="http://feeds.feedburner.com/RockhopperDigital" title="Subscribe to Rockhopper's feed">
            <div class="icon">
              ^
            </div>
            <div class="descrip">
              <h2>Feed</h2>
              <p>Articles published Monday, Wednesday and Friday.</p>
            </div>
          </a>
        </li>
        <li>
          <a class="clearfix" href="https://www.facebook.com/pages/Rockhopper-Digital/211271609445" title="Facebook">
            <div class="icon">
              F
            </div>
            <div class="descrip">
              <h2>Facebook</h2>
            </div>
          </a>
        </li>
        <li>
          <a class="clearfix" href="https://twitter.com/werockwehop" title="Twitter">
            <div class="icon">
              T
            </div>
            <div class="descrip">
              <h2>Twitter</h2>
            </div>
          </a>
        </li>
