
.home
  %ul#iconNav.clearfix
    :plain
      <li>
        <a class="clearfix" href="about" title="About">
          <div class="icon">
            @
          </div>
          <div class="descrip">
            <h2>About</h2>
            <p>
            We design and code beautiful websites and applications for agile businesses and brands. 
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="hire-us" title="Work">
          <div class="icon">
            (
          </div>
          <div class="descrip">
            <h2>Hire Us</h2>
            <p>
            Tell us about your project, budget and timeline. We'll quote a fair
            price for the job.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="websites" title="Websites">
          <div class="icon">
            w
          </div>
          <div class="descrip">
            <h2>Websites</h2>
            <p>
            Fast load times and mobile optimization ensure the best experience for your audience. 
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="applications" title="Apps">
          <div class="icon">
            O
          </div>
          <div class="descrip">
            <h2>Applications</h2>
            <p>
            Got data? We'll develop a robust and scalable solution that solves your
            problem.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="tutorials" title="Tutorials">
          <div class="icon">
            4
          </div>
          <div class="descrip">
            <h2>Tutorials</h2>
            <p>
            Learn how to build (better) websites and applications. 10,000 hours is a long path. 
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="articles" title="Articles">
          <div class="icon">
            V
          </div>
          <div class="descrip">
            <h2>Articles</h2>
            <p>
            Tap into a chronological feed of code, design, culture, experience and miscellany.
            </p>
          </div>
        </a>
      </li>
  %aside
    %ul.clearfix
      :plain
        <li>
          <a id="rssTip" class="clearfix" href="#" rel="tooltip" title="Articles published Monday, Wednesday and Friday.">
            <div class="icon">
              ^
            </div>
            <div class="descrip">
              <h2>RSS</h2>
              <p id="rssCallout">
              Articles published Monday, Wednesday and Friday.
              </p>
            </div>
          </a>
        </li>
        <li>
          <a class="clearfix" href="#" title="Facebook">
            <div class="icon">
              F
            </div>
            <div class="descrip">
              <h2>Facebook</h2>
            </div>
          </a>
        </li>
        <li>
          <a class="clearfix" href="#" title="Twitter">
            <div class="icon">
              T
            </div>
            <div class="descrip">
              <h2>Twitter</h2>
            </div>
          </a>
        </li>
