
.home
  %ul#iconNav.clearfix
    :plain
      <li>
        <a class="clearfix" href="#" title="About">
          <div class="icon">
            @
          </div>
          <div class="descrip">
            <h2>About</h2>
            <p>
            We design and code beautiful websites and applications for agile businesses and brands. 
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="#" title="Work">
          <div class="icon">
            (
          </div>
          <div class="descrip">
            <h2>Hire Us</h2>
            <p>
            Tell us about your project, budget and timeline. We'll quote a fair
            price for the job.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="#" title="Websites">
          <div class="icon">
            w
          </div>
          <div class="descrip">
            <h2>Websites</h2>
            <p>
            Fast load times and mobile optimization ensure the best experience for your audience. 
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="#" title="Apps">
          <div class="icon">
            O
          </div>
          <div class="descrip">
            <h2>Applications</h2>
            <p>
            Got data? We'll develop a robust and scalable solution that solves your
            problem.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="#" title="Topics">
          <div class="icon">
            4
          </div>
          <div class="descrip">
            <h2>Topics</h2>
            <p>
            Explore our articles by topic. Code, Design, Culture, Experience and Miscellany.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="#" title="Articles">
          <div class="icon">
            V
          </div>
          <div class="descrip">
            <h2>Articles</h2>
            <p>
            Tap into a chronological feed of recent articles and Rockhopper related news.
            </p>
          </div>
        </a>
      </li>
  %aside
    %ul.clearfix
      :plain
        <li>
          <a id="rssTip" class="clearfix" href="#" rel="tooltip" title="Articles published Monday, Wednesday and Friday.">
            <div class="icon">
              ^
            </div>
            <div class="descrip">
              <h2>RSS</h2>
              <p id="rssCallout">
              Articles published Monday, Wednesday and Friday.
              </p>
            </div>
          </a>
        </li>
        <li>
          <a class="clearfix" href="#" title="Facebook">
            <div class="icon">
              F
            </div>
            <div class="descrip">
              <h2>Facebook</h2>
            </div>
          </a>
        </li>
        <li>
          <a class="clearfix" href="#" title="Twitter">
            <div class="icon">
              T
            </div>
            <div class="descrip">
              <h2>Twitter</h2>
            </div>
          </a>
        </li>
