---
title: Tutorials
description: Learn how to build (better) websites and applications. 10,000 hours is a long path.
---

.tutorials-page
  %h2.content-heading
    %span.icon
      4
    Tutorials
  .content
    .tutorials-list
      %ul.list
        %li
          Create a Responsive Modal Plugin with Plain Old JavaScript
        %li
          Easily Diagnose Front-End Performance Issues with Chrome Developer Tools
        %li
          Using Hammer.js to Handle Multi-Touch Gestures in your Mobile Web App


%aside
  %ul.clearfix
    :plain
      <li>
        <a class="clearfix" href="http://feeds.feedburner.com/RockhopperDigital" title="Subscribe to Rockhopper's feed">
          <div class="icon">
            ^
          </div>
          <div class="descrip">
            <h2>Feed</h2>
            <p>Articles published when they're good and ready.</p>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="https://www.facebook.com/pages/Rockhopper-Digital/211271609445" title="Facebook">
          <div class="icon">
            F
          </div>
          <div class="descrip">
            <h2>Facebook</h2>
          </div>
        </a>
      </li>
      <li>
        <a class="clearfix" href="https://twitter.com/werockwehop" title="Twitter">
          <div class="icon">
            T
          </div>
          <div class="descrip">
            <h2>Twitter</h2>
          </div>
        </a>
      </li>