---
title: User-friendly Websites
description: Built with uncompromising craftsmanship. Engineered for performance and usability.
---

%h2.content-heading
  %span.icon
    Y
  Content Production

.content
  %p
    Content is the foundation of any web experience, and the voice of your website. Text, images, audio, video and interaction are the backbone of the web. While we're not a full-service content production shop, we can help you refine your content strategy and prepare your content for distribution on your website. 

%h2.content-heading
  %span.icon
    E
  Visual Identity

.content
  %p
    Strong visual identity doesn't have to shout to be noticed. Rockhopper can help your brand craft an identity that is immediately recognizable. Hand-drawn, custom logos are Niles' specialty. 
  %p
    We believe your logo, along with clean iconography and typography, should resonate with your audience consistently in both digital and print venues.

%h2.content-heading
  %span.icon
    W
  UX + UI Design

.content
  %p
    Good design encourages meaningful interaction. Rockhopper builds off of this premise as a first principle. If you have quality content, but nobody is sticking around to explore your site, you have a design problem. We can help you reduce your bounce rates, improve your conversion rates and make your users happier. 
  %p
    Every website has a job to get done, and we'll make sure that yours is an A-player.

%h2.content-heading
  %span.icon
    O
  Development + Optimization

.content
  %p
    Fast, reliable and secure &mdash; these are qualities that underscore our commitement to the success of your project and business.

  %ul
    %li
      Your website should be easy to find, and easy to use on desktop, tablet and mobile platforms.
    %li
      Traffic spikes should grow your business, not take down your website. 
    %li
      Clean, maintainable code that is backed up in multiple places is not optional. 

  %p
    This is what we mean by uncompromising craftsmanship.

%h2.content-heading
  %span.icon
    7
  Analytics + Reporting

.content
  %p
    Where does your traffic come from? How are users moving through your website? Are they converting? If not, where are you losing them? These are questions that we can help you answer on an on-going basis. 
  %p
    Getting to launch can sometimes feel like a 4x100 relay race. However, in reality, web projects are more marathon, and less sprint. Websites should be tuned and optimized over time. Analytics platforms inform this decision making process, and allow us to strengthen your business on the web.

  